---
import LgLaravel from "@meronex/icons/lg/LgLaravel";
import SiMysql from "@meronex/icons/si/SiMysql";
import LgBootstrap from "@meronex/icons/lg/LgBootstrap";
import LgJupyter from "@meronex/icons/lg/LgJupyter";
import LgPython from "@meronex/icons/lg/LgPython";
import SiPostman from "@meronex/icons/si/SiPostman";
import LgExpress from "@meronex/icons/lg/LgExpress";
import LgPostgresql from "@meronex/icons/lg/LgPostgresql";
import LgReact from "@meronex/icons/lg/LgReact";
import LgTailwindcssIcon from "@meronex/icons/lg/LgTailwindcssIcon";
import LgAntDesign from "@meronex/icons/lg/LgAntDesign";
---

<section id="">
  <div class="mt-20 px-0 sm:px-8 md:px-12 lg:mt-24 xl:mt-2">
    <article
      class="relative z-10 mx-auto mb-4 mt-20 max-w-[1244px] overflow-hidden border-b-2 border-l-2 border-r-2 border-t-2 border-x-stone-500 py-20 sm:rounded-3xl"
    >
      <section id="layanan-karir">
        <div class="relative z-10 px-5 sm:px-10 lg:px-16">
          <h3 class="">Career App</h3>

          <p
            class="!leading-150 mt-10 text-lg text-black dark:text-white sm:text-2xl"
          >
            <span class="font-semibold">Introducing Career App</span> - Career App
            an website to sharing information about jobs opening and managing data
            jobs for company, company can register and login to manage all jobs.
            candidate can apply jobs with upload each data. This is almost similar
            to a <span class="font-semibold">Layanan Karir website.</span> however
            this website was built focusing on job search only. In this website implements
            API Service to communication Client and Server.
          </p>
        </div>

        <div class="portfolio-images">
          <div class="relative">
            <div
              class="relative z-0 mx-[2px] grid snap-x snap-center grid-flow-col overflow-y-hidden pl-5 sm:pl-10 lg:pl-16"
            >
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/register-career-app.png"
                  alt="career-app"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/login-career-app.png"
                  alt="career-app"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/menu-jobs-to-user.png"
                  alt="career-app"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/detail-job-user.png"
                  alt="career-app"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/m-list-jobs.png"
                  alt="career-app"
                  width="484"
                  height="484"
                />
              </div>

              <div class="sm:pr-11"></div>
            </div>
          </div>
        </div>

        <div class="relative z-10 px-5 sm:px-10 lg:px-16">
          <div class="mb-10 mt-10 sm:mb-14 sm:mt-[4.4rem]">
            <a
              href="#"
              target="_blank"
              class="button-live-production relative inline-flex w-full items-start justify-between rounded-2xl px-5 py-5 pb-8 sm:w-[495px] sm:px-8 sm:py-6"
              style="background: linear-gradient(90deg, #808080, #808080, #C0C0C0, #FFFFFF);"
            >
              <div class="">
                <div class="inline-flex items-center space-x-2 sm:space-x-3">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500"></div>
                  <span
                    class="leading-100 text-base font-semibold tracking-tight text-sky-50 sm:text-2xl"
                  >
                    Live in production
                  </span>
                </div>

                <span
                  class="leading-100 relative block text-[32px] font-semibold tracking-tight text-sky-50 sm:text-[3.5rem]"
                >
                  coming soon
                  <div class="absolute -bottom-3"></div>
                </span>
              </div>

              <div class="rounded-lg bg-black p-3 shadow-xl">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 17 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                >
                  <path
                    d="M1 16.5L16 1.5M16 1.5H4.75M16 1.5V12.75"
                    stroke="#ECFEFF"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class=""></path>
                </svg>
              </div>
            </a>
          </div>

          <div class="flex items-start space-x-4 pl-5 sm:space-x-10 sm:pl-8">
            <a
              target="_blank"
              href="https://github.com/ferriyusra/career-app"
              class="font-semibold leading-6 tracking-tight"
            >
              <span
                class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                >Career App
              </span>
              <span
                class="inline-flex space-x-[6px] text-sm text-slate-700 sm:pt-2 sm:text-xl"
              >
                <span class="">on</span>
                <span class=""
                  ><svg
                    class="w-[18px] sm:h-6 sm:w-6"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_67_250)" class="">
                      <path
                        d="M12.5 0.297119C5.87 0.297119 0.5 5.67012 0.5 12.2971C0.5 17.6001 3.938 22.0971 8.705 23.6821C9.305 23.7951 9.525 23.4241 9.525 23.1051C9.525 22.8201 9.515 22.0651 9.51 21.0651C6.172 21.7891 5.468 19.4551 5.468 19.4551C4.922 18.0701 4.133 17.7001 4.133 17.7001C3.046 16.9561 4.217 16.9711 4.217 16.9711C5.422 17.0551 6.055 18.2071 6.055 18.2071C7.125 20.0421 8.864 19.5121 9.55 19.2051C9.658 18.4291 9.967 17.9001 10.31 17.6001C7.645 17.3001 4.844 16.2681 4.844 11.6701C4.844 10.3601 5.309 9.29012 6.079 8.45012C5.944 8.14712 5.539 6.92712 6.184 5.27412C6.184 5.27412 7.189 4.95212 9.484 6.50412C10.444 6.23712 11.464 6.10512 12.484 6.09912C13.504 6.10512 14.524 6.23712 15.484 6.50412C17.764 4.95212 18.769 5.27412 18.769 5.27412C19.414 6.92712 19.009 8.14712 18.889 8.45012C19.654 9.29012 20.119 10.3601 20.119 11.6701C20.119 16.2801 17.314 17.2951 14.644 17.5901C15.064 17.9501 15.454 18.6861 15.454 19.8101C15.454 21.4161 15.439 22.7061 15.439 23.0961C15.439 23.4111 15.649 23.7861 16.264 23.6661C21.065 22.0921 24.5 17.5921 24.5 12.2971C24.5 5.67012 19.127 0.297119 12.5 0.297119"
                        fill="#334155"
                        class=""></path>
                    </g>
                    <defs class="">
                      <clipPath id="clip0_67_250" class="">
                        <rect width="24" height="24" fill="white" class=""
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <span class="">github.com</span>
              </span>
            </a>

            <a
              target="_blank"
              href="https://github.com/ferriyusra/career-service"
              class="font-semibold leading-6 tracking-tight"
            >
              <span
                class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                >Career Service
              </span>
              <span
                class="inline-flex space-x-[6px] text-sm text-slate-700 sm:pt-2 sm:text-xl"
              >
                <span class="">on</span>
                <span class=""
                  ><svg
                    class="w-[18px] sm:h-6 sm:w-6"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_67_250)" class="">
                      <path
                        d="M12.5 0.297119C5.87 0.297119 0.5 5.67012 0.5 12.2971C0.5 17.6001 3.938 22.0971 8.705 23.6821C9.305 23.7951 9.525 23.4241 9.525 23.1051C9.525 22.8201 9.515 22.0651 9.51 21.0651C6.172 21.7891 5.468 19.4551 5.468 19.4551C4.922 18.0701 4.133 17.7001 4.133 17.7001C3.046 16.9561 4.217 16.9711 4.217 16.9711C5.422 17.0551 6.055 18.2071 6.055 18.2071C7.125 20.0421 8.864 19.5121 9.55 19.2051C9.658 18.4291 9.967 17.9001 10.31 17.6001C7.645 17.3001 4.844 16.2681 4.844 11.6701C4.844 10.3601 5.309 9.29012 6.079 8.45012C5.944 8.14712 5.539 6.92712 6.184 5.27412C6.184 5.27412 7.189 4.95212 9.484 6.50412C10.444 6.23712 11.464 6.10512 12.484 6.09912C13.504 6.10512 14.524 6.23712 15.484 6.50412C17.764 4.95212 18.769 5.27412 18.769 5.27412C19.414 6.92712 19.009 8.14712 18.889 8.45012C19.654 9.29012 20.119 10.3601 20.119 11.6701C20.119 16.2801 17.314 17.2951 14.644 17.5901C15.064 17.9501 15.454 18.6861 15.454 19.8101C15.454 21.4161 15.439 22.7061 15.439 23.0961C15.439 23.4111 15.649 23.7861 16.264 23.6661C21.065 22.0921 24.5 17.5921 24.5 12.2971C24.5 5.67012 19.127 0.297119 12.5 0.297119"
                        fill="#334155"
                        class=""></path>
                    </g>
                    <defs class="">
                      <clipPath id="clip0_67_250" class="">
                        <rect width="24" height="24" fill="white" class=""
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <span class="">github.com</span>
              </span>
            </a>

            <a
              href="https://github.com/ferriyusra/career-app/issues/1"
              target="_blank"
              class="inline-flex items-center space-x-2 font-semibold leading-6 tracking-tight sm:space-x-3"
            >
              <div
                class="hidden rounded-lg border-[1px] border-slate-500 border-opacity-50 p-1 sm:inline-block sm:p-2.5"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.07966 0.306529C3.7729 1.48407 0.0636546 5.96584 0.0505296 10.0082L0.0478601 10.8191L0.399787 10.9542C0.927677 11.157 10.3485 11.1103 10.6744 10.9033L10.9565 10.7241L10.8969 5.39755L10.837 0.0707981L10.0584 0.0247206C9.63019 -0.000878128 8.73969 0.126002 8.07966 0.306529ZM13.1025 0.103965C13.0189 0.187662 12.9504 2.58125 12.9504 5.42293V10.5896L13.2609 10.8474L13.5712 11.1052L15.2074 10.7392C17.3975 10.2491 19.1849 9.26718 20.765 7.68607L22.0717 6.37854L22.8906 4.67478L23.7095 2.97124L23.7246 1.52102L23.7395 0.0707981L18.4971 0.0111422C15.6138 -0.0215796 13.1864 0.0202686 13.1025 0.103965ZM0.126165 13.2094C-0.543207 14.9554 1.55122 19.3571 4.03851 21.431C5.79214 22.893 9.56923 24.321 10.6179 23.9181L10.9562 23.7883L10.8966 18.385L10.837 12.9814L5.54833 12.9218L0.259417 12.8621L0.126165 13.2094ZM13.1172 12.9999C13.0255 13.0918 12.9504 15.5435 12.9504 18.4484V23.7298L13.3023 23.8649C13.4958 23.9392 15.8932 24 18.6301 24H23.6063L23.8031 23.6479L24 23.2957L23.8069 22.034C23.2523 18.4106 20.4276 14.9837 16.8351 13.5758C15.5838 13.0854 13.3737 12.743 13.1172 12.9999Z"
                    fill="#64748B"
                    class=""></path>
                </svg>
              </div>

              <div class="">
                <span
                  class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                  >Full Description</span
                >
                <span
                  class="inline-flex space-x-[6px] text-sm text-slate-700 sm:mt-1 sm:text-xl"
                  >+ more image demonstration</span
                >
              </div>
            </a>
          </div>

          <div class="mt-20">
            <h4
              class="leading-140 text-2xl font-semibold text-black dark:text-white sm:text-[32px]"
            >
              Featured technologies used
            </h4>
            <div class="-ml-2 mt-6 flex flex-wrap gap-3 sm:ml-0">
              <div
                class="-ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px] sm:scale-100"
              >
                <LgExpress size={85} />
              </div>
              <div
                class="sm:scale-80 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <LgPostgresql size={85} />
              </div>
              <div
                class="sm:scale-80 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <LgReact size={85} />
              </div>
              <div
                class="sm:scale-80 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <LgTailwindcssIcon size={85} />
              </div>
              <div
                class="sm:scale-80 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <LgAntDesign size={85} />
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article
      class="relative z-10 mx-auto mb-4 mt-20 max-w-[1244px] overflow-hidden border-b-2 border-l-2 border-r-2 border-t-2 border-x-stone-500 py-20 sm:rounded-3xl"
    >
      <section id="layanan-karir">
        <div class="relative z-10 px-5 sm:px-10 lg:px-16">
          <h3 class="">Layanan Karir</h3>

          <p
            class="!leading-150 mt-10 text-lg text-black dark:text-white sm:text-2xl"
          >
            <span class="font-semibold">Introducing Layanan Karir</span> - Layanan
            Karir an website to sharing information about careers, jobs opening,
            workshop, quisioner and managing data students after graduate. It can
            to displaying with a chart to see how much students graduate after fill
            the quisioner. an interactive polling tool that makes it easy to create
            engaging polls and collect data from an audience in real-time. It can
            be used during live events, and the results can be displayed with a chart
            data visualization.
          </p>
        </div>

        <div class="portfolio-images">
          <div class="relative">
            <div
              class="relative z-0 mx-[2px] grid snap-x snap-center grid-flow-col overflow-y-hidden pl-5 sm:pl-10 lg:pl-16"
            >
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/landing-layanan-karir.png"
                  alt="layanan-karir"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/job-layanan-karir.png"
                  alt="layanan-karir"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/kuisioner-layanan-karir.png"
                  alt="layanan-karir"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/dashboard-layanan-karir.png"
                  alt="layanan-karir"
                  width="484"
                  height="484"
                />
              </div>

              <div class="sm:pr-11"></div>
            </div>
          </div>
        </div>

        <div class="relative z-10 px-5 sm:px-10 lg:px-16">
          <div class="mb-10 mt-10 sm:mb-14 sm:mt-[4.4rem]">
            <a
              href="#"
              target="_blank"
              class="button-live-production relative inline-flex w-full items-start justify-between rounded-2xl px-5 py-5 pb-8 sm:w-[495px] sm:px-8 sm:py-6"
              style="background: linear-gradient(90deg, #808080, #808080, #C0C0C0, #FFFFFF);"
            >
              <div class="">
                <div class="inline-flex items-center space-x-2 sm:space-x-3">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500"></div>
                  <span
                    class="leading-100 text-base font-semibold tracking-tight text-sky-50 sm:text-2xl"
                  >
                    Live in production
                  </span>
                </div>

                <span
                  class="leading-100 relative block text-[32px] font-semibold tracking-tight text-sky-50 sm:text-[3.5rem]"
                >
                  coming soon
                  <div class="absolute -bottom-3"></div>
                </span>
              </div>

              <div class="rounded-lg bg-black p-3 shadow-xl">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 17 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                >
                  <path
                    d="M1 16.5L16 1.5M16 1.5H4.75M16 1.5V12.75"
                    stroke="#ECFEFF"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class=""></path>
                </svg>
              </div>
            </a>
          </div>

          <div class="flex items-start space-x-4 pl-5 sm:space-x-10 sm:pl-8">
            <a
              target="_blank"
              href="https://github.com/ferriyusra/e-career"
              class="font-semibold leading-6 tracking-tight"
            >
              <span
                class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                >Layanan Karir</span
              >
              <span
                class="inline-flex space-x-[6px] text-sm text-slate-700 sm:pt-2 sm:text-xl"
              >
                <span class="">on</span>
                <span class=""
                  ><svg
                    class="w-[18px] sm:h-6 sm:w-6"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_67_250)" class="">
                      <path
                        d="M12.5 0.297119C5.87 0.297119 0.5 5.67012 0.5 12.2971C0.5 17.6001 3.938 22.0971 8.705 23.6821C9.305 23.7951 9.525 23.4241 9.525 23.1051C9.525 22.8201 9.515 22.0651 9.51 21.0651C6.172 21.7891 5.468 19.4551 5.468 19.4551C4.922 18.0701 4.133 17.7001 4.133 17.7001C3.046 16.9561 4.217 16.9711 4.217 16.9711C5.422 17.0551 6.055 18.2071 6.055 18.2071C7.125 20.0421 8.864 19.5121 9.55 19.2051C9.658 18.4291 9.967 17.9001 10.31 17.6001C7.645 17.3001 4.844 16.2681 4.844 11.6701C4.844 10.3601 5.309 9.29012 6.079 8.45012C5.944 8.14712 5.539 6.92712 6.184 5.27412C6.184 5.27412 7.189 4.95212 9.484 6.50412C10.444 6.23712 11.464 6.10512 12.484 6.09912C13.504 6.10512 14.524 6.23712 15.484 6.50412C17.764 4.95212 18.769 5.27412 18.769 5.27412C19.414 6.92712 19.009 8.14712 18.889 8.45012C19.654 9.29012 20.119 10.3601 20.119 11.6701C20.119 16.2801 17.314 17.2951 14.644 17.5901C15.064 17.9501 15.454 18.6861 15.454 19.8101C15.454 21.4161 15.439 22.7061 15.439 23.0961C15.439 23.4111 15.649 23.7861 16.264 23.6661C21.065 22.0921 24.5 17.5921 24.5 12.2971C24.5 5.67012 19.127 0.297119 12.5 0.297119"
                        fill="#334155"
                        class=""></path>
                    </g>
                    <defs class="">
                      <clipPath id="clip0_67_250" class="">
                        <rect width="24" height="24" fill="white" class=""
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <span class="">github.com</span>
              </span>
            </a>

            <a
              href="https://github.com/ferriyusra/e-career/issues/1"
              target="_blank"
              class="inline-flex items-center space-x-2 font-semibold leading-6 tracking-tight sm:space-x-3"
            >
              <div
                class="hidden rounded-lg border-[1px] border-slate-500 border-opacity-50 p-1 sm:inline-block sm:p-2.5"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.07966 0.306529C3.7729 1.48407 0.0636546 5.96584 0.0505296 10.0082L0.0478601 10.8191L0.399787 10.9542C0.927677 11.157 10.3485 11.1103 10.6744 10.9033L10.9565 10.7241L10.8969 5.39755L10.837 0.0707981L10.0584 0.0247206C9.63019 -0.000878128 8.73969 0.126002 8.07966 0.306529ZM13.1025 0.103965C13.0189 0.187662 12.9504 2.58125 12.9504 5.42293V10.5896L13.2609 10.8474L13.5712 11.1052L15.2074 10.7392C17.3975 10.2491 19.1849 9.26718 20.765 7.68607L22.0717 6.37854L22.8906 4.67478L23.7095 2.97124L23.7246 1.52102L23.7395 0.0707981L18.4971 0.0111422C15.6138 -0.0215796 13.1864 0.0202686 13.1025 0.103965ZM0.126165 13.2094C-0.543207 14.9554 1.55122 19.3571 4.03851 21.431C5.79214 22.893 9.56923 24.321 10.6179 23.9181L10.9562 23.7883L10.8966 18.385L10.837 12.9814L5.54833 12.9218L0.259417 12.8621L0.126165 13.2094ZM13.1172 12.9999C13.0255 13.0918 12.9504 15.5435 12.9504 18.4484V23.7298L13.3023 23.8649C13.4958 23.9392 15.8932 24 18.6301 24H23.6063L23.8031 23.6479L24 23.2957L23.8069 22.034C23.2523 18.4106 20.4276 14.9837 16.8351 13.5758C15.5838 13.0854 13.3737 12.743 13.1172 12.9999Z"
                    fill="#64748B"
                    class=""></path>
                </svg>
              </div>

              <div class="">
                <span
                  class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                  >Full Description</span
                >
                <span
                  class="inline-flex space-x-[6px] text-sm text-slate-700 sm:mt-1 sm:text-xl"
                  >+ more image demonstration</span
                >
              </div>
            </a>
          </div>

          <div class="mt-20">
            <h4
              class="leading-140 text-2xl font-semibold text-black dark:text-white sm:text-[32px]"
            >
              Featured technologies used
            </h4>
            <div class="-ml-2 mt-6 flex flex-wrap gap-3 sm:ml-0">
              <div
                class="-ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px] sm:scale-100"
              >
                <LgLaravel size={85} />
              </div>
              <div
                class="sm:scale-80 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <SiMysql size={85} />
              </div>
              <div
                class="sm:scale-80 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <LgBootstrap size={85} />
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article
      class="relative z-10 mx-auto mb-4 mt-20 max-w-[1244px] overflow-hidden border-b-2 border-l-2 border-r-2 border-t-2 border-x-stone-500 py-20 sm:rounded-3xl"
    >
      <section id="ml-app">
        <div class="relative z-10 px-5 sm:px-10 lg:px-16">
          <h3 class="">
            Desktop Application to create Machine Learning Model for Analysis
            Sentiment to Classification Tweet
          </h3>

          <p
            class="!leading-150 mt-10 text-lg text-black dark:text-white sm:text-2xl"
          >
            <span class="font-semibold"
              >Introducing Machine Learning Analysis Sentiment Classification
              Tweet</span
            > - This application has several features, namely to retrieve tweet data
            from Twitter social media, can perform tweet data cleaning with pre-processing
            techniques, provide data visualization results in the form of barcharts,
            piecharts and wordcloud and classify tweet data so that it has a positive
            sentiment meaning or negative automatically.
          </p>
        </div>

        <div class="portfolio-images">
          <div class="relative">
            <div
              class="relative z-0 mx-[2px] grid snap-x snap-center grid-flow-col overflow-y-hidden pl-5 sm:pl-10 lg:pl-16"
            >
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/crawling.png"
                  alt="ml"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/cleaning.png"
                  alt="ml"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/barchart.png"
                  alt="ml"
                  width="484"
                  height="484"
                />
              </div>
              <div
                class="w-[86vw] max-w-[86vw] py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16"
              >
                <img
                  class="rounded-3xl"
                  src="../../../public/images/matrix.png"
                  alt="ml"
                  width="484"
                  height="484"
                />
              </div>

              <div class="sm:pr-11"></div>
            </div>
          </div>
        </div>

        <div class="relative z-10 px-5 sm:px-10 lg:px-16">
          <div class="mb-10 mt-10 sm:mb-14 sm:mt-[4.4rem]">
            <a
              href="#"
              target="_blank"
              class="button-live-production relative inline-flex w-full items-start justify-between rounded-2xl px-5 py-5 pb-8 sm:w-[495px] sm:px-8 sm:py-6"
              style="background: linear-gradient(90deg, #808080, #808080, #C0C0C0, #FFFFFF);"
            >
              <div class="">
                <div class="inline-flex items-center space-x-2 sm:space-x-3">
                  <div class="h-2.5 w-2.5 rounded-full bg-green-500"></div>
                  <span
                    class="leading-100 text-base font-semibold tracking-tight text-sky-50 sm:text-2xl"
                  >
                    Live in production
                  </span>
                </div>

                <span
                  class="leading-100 relative block text-[32px] font-semibold tracking-tight text-sky-50 sm:text-[3.5rem]"
                >
                  coming soon
                  <div class="absolute -bottom-3"></div>
                </span>
              </div>

              <div class="rounded-lg bg-black p-3 shadow-xl">
                <svg
                  width="17"
                  height="18"
                  viewBox="0 0 17 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                >
                  <path
                    d="M1 16.5L16 1.5M16 1.5H4.75M16 1.5V12.75"
                    stroke="#ECFEFF"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class=""></path>
                </svg>
              </div>
            </a>
          </div>

          <div class="flex items-start space-x-4 pl-5 sm:space-x-10 sm:pl-8">
            <a
              target="_blank"
              href="https://github.com/ferriyusra/Analisis-Sentimen-Naive-Bayes"
              class="font-semibold leading-6 tracking-tight"
            >
              <span
                class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                >Machine Learning Application</span
              >
              <span
                class="inline-flex space-x-[6px] text-sm text-slate-700 sm:pt-2 sm:text-xl"
              >
                <span class="">on</span>
                <span class="">
                  <svg
                    class="w-[18px] sm:h-6 sm:w-6"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_67_250)" class="">
                      <path
                        d="M12.5 0.297119C5.87 0.297119 0.5 5.67012 0.5 12.2971C0.5 17.6001 3.938 22.0971 8.705 23.6821C9.305 23.7951 9.525 23.4241 9.525 23.1051C9.525 22.8201 9.515 22.0651 9.51 21.0651C6.172 21.7891 5.468 19.4551 5.468 19.4551C4.922 18.0701 4.133 17.7001 4.133 17.7001C3.046 16.9561 4.217 16.9711 4.217 16.9711C5.422 17.0551 6.055 18.2071 6.055 18.2071C7.125 20.0421 8.864 19.5121 9.55 19.2051C9.658 18.4291 9.967 17.9001 10.31 17.6001C7.645 17.3001 4.844 16.2681 4.844 11.6701C4.844 10.3601 5.309 9.29012 6.079 8.45012C5.944 8.14712 5.539 6.92712 6.184 5.27412C6.184 5.27412 7.189 4.95212 9.484 6.50412C10.444 6.23712 11.464 6.10512 12.484 6.09912C13.504 6.10512 14.524 6.23712 15.484 6.50412C17.764 4.95212 18.769 5.27412 18.769 5.27412C19.414 6.92712 19.009 8.14712 18.889 8.45012C19.654 9.29012 20.119 10.3601 20.119 11.6701C20.119 16.2801 17.314 17.2951 14.644 17.5901C15.064 17.9501 15.454 18.6861 15.454 19.8101C15.454 21.4161 15.439 22.7061 15.439 23.0961C15.439 23.4111 15.649 23.7861 16.264 23.6661C21.065 22.0921 24.5 17.5921 24.5 12.2971C24.5 5.67012 19.127 0.297119 12.5 0.297119"
                        fill="#334155"
                        class=""></path>
                    </g>
                    <defs class="">
                      <clipPath id="clip0_67_250" class="">
                        <rect width="24" height="24" fill="white" class=""
                        ></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <span class="">github.com</span>
              </span>
            </a>

            <a
              href="https://github.com/ferriyusra/Analisis-Sentimen-Naive-Bayes/issues/1"
              target="_blank"
              class="inline-flex items-center space-x-2 font-semibold leading-6 tracking-tight sm:space-x-3"
            >
              <div
                class="hidden rounded-lg border-[1px] border-slate-500 border-opacity-50 p-1 sm:inline-block sm:p-2.5"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class=""
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.07966 0.306529C3.7729 1.48407 0.0636546 5.96584 0.0505296 10.0082L0.0478601 10.8191L0.399787 10.9542C0.927677 11.157 10.3485 11.1103 10.6744 10.9033L10.9565 10.7241L10.8969 5.39755L10.837 0.0707981L10.0584 0.0247206C9.63019 -0.000878128 8.73969 0.126002 8.07966 0.306529ZM13.1025 0.103965C13.0189 0.187662 12.9504 2.58125 12.9504 5.42293V10.5896L13.2609 10.8474L13.5712 11.1052L15.2074 10.7392C17.3975 10.2491 19.1849 9.26718 20.765 7.68607L22.0717 6.37854L22.8906 4.67478L23.7095 2.97124L23.7246 1.52102L23.7395 0.0707981L18.4971 0.0111422C15.6138 -0.0215796 13.1864 0.0202686 13.1025 0.103965ZM0.126165 13.2094C-0.543207 14.9554 1.55122 19.3571 4.03851 21.431C5.79214 22.893 9.56923 24.321 10.6179 23.9181L10.9562 23.7883L10.8966 18.385L10.837 12.9814L5.54833 12.9218L0.259417 12.8621L0.126165 13.2094ZM13.1172 12.9999C13.0255 13.0918 12.9504 15.5435 12.9504 18.4484V23.7298L13.3023 23.8649C13.4958 23.9392 15.8932 24 18.6301 24H23.6063L23.8031 23.6479L24 23.2957L23.8069 22.034C23.2523 18.4106 20.4276 14.9837 16.8351 13.5758C15.5838 13.0854 13.3737 12.743 13.1172 12.9999Z"
                    fill="#64748B"
                    class=""></path>
                </svg>
              </div>

              <div class="">
                <span
                  class="sm:!leading-100 block text-xl leading-4 text-black dark:text-white sm:text-[32px]"
                  >Full Description</span
                >
                <span
                  class="inline-flex space-x-[6px] text-sm text-slate-700 sm:mt-1 sm:text-xl"
                  >+ more image demonstration</span
                >
              </div>
            </a>
          </div>

          <div class="mt-20">
            <h4
              class="leading-140 text-2xl font-semibold text-black dark:text-white sm:text-[32px]"
            >
              Featured technologies used
            </h4>
            <div class="-ml-2 mt-6 flex flex-wrap gap-3 sm:ml-0">
              <div
                class="-ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px] sm:scale-100"
              >
                <LgJupyter size={85} />
              </div>
              <div
                class="sm:scale-85 -ml-2 w-20 scale-[90%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px]"
              >
                <LgPython size={85} />
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
</section>
